.your-code {
  margin-top: 40px;
  border: 2px solid darkmagenta;
  background-color: lightsalmon;
}
#tab{
  background-color: lightgreen;
  text-align: center;
  margin-left: 200px;
}
.active {
  background-color: blueviolet;
  color: white;
}